asgiref==3.3.4
attrs==21.2.0
Django==3.2.3
django-autocomplete-light==3.8.2
django-filter==2.4.0
hypothesis==6.13.1
iniconfig==1.1.1
jsonschema==3.2.0
numpy==1.20.3
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycountry==20.7.3
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
pytest-django==4.3.0
pytz==2021.1
six==1.16.0
sorl-thumbnail==12.7.0
sortedcontainers==2.4.0
sqlparse==0.4.1
timezonefinder==5.2.0
toml==0.10.2
tqdm==4.60.0
